# emacs
*~
.\#*

# Pycharm
.idea/

# Python
__pycache__
*.pyc
venv
.venv
virtualenv
.virtualenv
.cache
*.egg-info
.coverage

# Coverage
htmlcov

# pytest
.pytest_cache

# example output files
examples/output

# Docs
doc/_build
doc/api

#VS Code
.vscode

# Build
dist