doc/build
tmp

# emacs
*~
.\#*

# Pycharm
.idea/

# Python
__pycache__
*.pyc
venv
.venv
virtualenv
.virtualenv
.cache
*.egg-info
.coverage

# Coverage
htmlcov

# Qt Creator project files
# (assuming project name `brown`)
brown.config
brown.creator
brown.files
brown.includes

# pytest
.pytest_cache
