$primary-bg: #fffafe;
$code-inline-bg: #f1efef;
$code-block-bg: #faf5f5;
$primary-text: #050505;
$accent-bright: #1f427f;
$accent-dark: #31231e;
$accent-dark-transparent: fade_out($accent-dark, 0.7);
$super-accent: #9055a2;

$hugest: 70px;
$huge: 40px;
$large: 35px;
$medium: 20px;
$small: 15px;
$tiny: 13px;

$large-space: 5em;
$medium-space: 3em;
$small-space: 1em;
$tiny-space: 0.5em;

$a-color: $accent-bright;


html {
    margin: 0;
    padding: 0;
}

body {
    color: $primary-text;
    font-family: 'Roboto', sans-serif;
    font-size: $small;
    background: $primary-bg;
    overflow: auto;
}

.scrollable {
    position: relative;
    height: 100%;
    margin-top: 1em;
    overflow: hidden;

    &:hover {
        transition: auto;
        overflow: scroll
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

.inherited {
    display: none;
}

#page-wrapper {
    max-width: $large-space * 12;
    padding: $large-space;
    margin: auto;
    position: relative;
    background: $primary-bg;

    border-left: 1px solid $accent-dark;
    border-bottom: 1px solid $accent-dark;

    -webkit-box-shadow: -1px 1px 5px 0px $accent-dark;
    -moz-box-shadow:    -1px 1px 5px 0px $accent-dark;
    box-shadow:         -1px 1px 5px 0px $accent-dark;
}

$sidebar-right: 225px;

#sidebar {
    width: $sidebar-right;
    position: fixed;
    top: 0;
    left: 0;
    background: $accent-bright;
    height: 100%;
    padding: $small-space;

    border-right: 1px solid $accent-dark;

    color: $primary-bg;
    -webkit-box-shadow: 2px 1px 3px 0px $accent-dark;
    -moz-box-shadow:    2px 1px 3px 0px $accent-dark;
    box-shadow:         2px 1px 3px 0px $accent-dark;

    h3 {
        margin-top: 0;
        margin-bottom: $small-space;
    }

    a {
        color: $primary-bg;
    }

    ul {
        padding: $tiny-space;
        list-style: none;
    }
}

#sidebar-crook {
    width: 500px;
    position: fixed;
    top: 0;
    left: $sidebar-right;
    z-index: -1;
    background: linear-gradient(135deg, $super-accent 300px, transparent 0) top left;
    height: 100%;
}

#site-search {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0;
    height: $medium + 5px;

    input {
        margin: auto;
        min-width: 0;
    }

    .submit-button {
        min-width: auto;
    }
}

/* Page titles */
h1 {
    font-family: 'Vollkorn', serif;
    font-size: $hugest;
    font-style: italic;
    font-weight: bold;
    color: $accent-bright;
}

.module > h1, .package > h1 {
    margin: 0;
}

/* Major section */
h2 {
    color: $accent-dark;
    font-size: $large;
}

a {
    color: $a-color
}

code {
    background: $code-inline-bg;
}

pre > code {
    padding: $small-space;
    margin: $small-space 0 $small-space $small-space;

    background: $code-block-bg;

    /* border-left: 1px solid $accent-bright; */
    /* border-bottom: 1px solid $accent-bright; */
    -webkit-box-shadow: inset -1px 2px 3px 0px $accent-dark-transparent;
    -moz-box-shadow:    inset -1px 2px 3px 0px $accent-dark-transparent;
    box-shadow:         inset -1px 2px 3px 0px $accent-dark-transparent;

    font-family: 'Source Code Pro', monospace;
    font-size: $tiny;
}

.class-name {
    font-size: $huge;
    font-weight: bold;
}

.important-name {
    font-size: $medium;
    font-weight: bold;
}

.class {
    padding-left: $small-space;
}

.major-section-title {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: bold;
    color: $accent-dark;
}

.module > .major-section-title {
    font-size: $huge;
}

.class > .major-section-title {
    font-size: $large;
    text-align: right;
}

.class > .inherited > .major-section-title {
    font-size: $medium;
    text-align: right;
}

.method {
    padding-left: $small-space;
    padding-bottom: $small-space;
    padding-top: $small-space;
    margin-bottom: 0;

    /* &:last-child { */
    /*     padding-bottom: 0; */
    /* } */

    & > .body {
        padding-left: $small-space;
    }
}

.property, attribute {
    padding-left: $small-space;
    padding-bottom: $tiny-space;
    padding-top: $tiny-space;
    margin-bottom: 0;

    & > .body {
        padding-left: $small-space;
    }
}

.type-details-list {
    /* Regular small left pad,
       plus a hack to indent wrapping lines. */
    padding-left: $small-space + $medium-space;
    text-indent: -1 * $medium-space;
    ul {
        padding-left: 0;
        text-indent: 0;
    }
}

.source-link {
    float: right;
    color: transparent;
    /* transform-origin: right; */
    transform: translateX(1em);
    -webkit-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.class:hover {
    & > .source-link {
        /* transform: scale(1); */
        transform: translateX(0);
        color: $a-color;
    }
}

.method, .attribute, .property {
    &:hover {
        & .source-link {
            /* transform: scale(1); */
            transform: translateX(0);
            color: $a-color;
        }
    }
}

/* Syntax highlighting ======================================================

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

Some trivial modifications made by Andrew Yoon for brown documentation.

base:    $code-block-bg
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
