.rendered-example {
  border: 1px solid #e1e4e5;
  padding: 12px;
  background-color: #fff;
  margin: 1px 0 24px;
}

.subtitle-slogan {
  font-style: italic;
  font-weight: bold;
  font-size: 125%;
  text-align: right;
}

/*
 * Tweak theme color in navbar header
 */
.wy-side-nav-search,
.wy-nav-top {
  background: #118DA1;
}

/*
 * Make sidebar section headers slightly brighter than the header for readability
 */
p.caption>span {
  color: #38B7CB;
}